{% extends 'base.html' %}
{% load static %}
{% block title%}About Page{% endblock title %}
{% block content%}
<div class="container">
<div class="d-flex flex-column align-items-center mt-5" style="font-size: 20px;">
        
    <img src="{% static 'images/image.png' %}" alt="">

    <p>
        We are more than just a restaurant; we are an experience. We are passionate about creating unforgettable dining moments through a perfect blend of artistry and hospitality. <br><br>
    <b>Unforgettable Ambiance:</b> Step into a world of warmth and sophistication, designed to elevate your culinary journey.<br><br>

    <b>Seasonal & Local Ingredients:</b> Our chefs meticulously craft a menu that showcases the freshest, local ingredients, bursting with seasonal flavors.<br><br>

    <b>Culinary Artistry:</b> Each dish is a masterpiece, prepared with meticulous attention to detail and a passion for exceeding expectations.<br><br>

    <b>Beyond the Plate:</b> We believe in the power of exceptional hospitality to transform a meal into a lasting memory.<br><br>

    <b>Join Us:</b> Explore a world of extraordinary flavors and discover what true culinary bliss feels like.
    </p>
</div>
</div>
{% endblock content %}